 91 => 'Платёжная система easypay',
 92 => 'Платежная система iBox',
 93 => 'Платежная система iPay',
 94 => 'Платёжная система TYME',
 95 => 'Платежный терминал "Платёжка"',
 96 => 'Платежный терминал PayOk',
 97 => 'Платежный терминал ОСМП',
 98 => 'Эквайринг',
 99 => 'Карточки пополнения',
